* {
  margin: 0;
}

#form {
  margin-bottom: 5%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.cnv {
  margin: auto;
}
form {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;

  gap: 1em;
}
.row {
  display: flex;
  flex-direction: row;
}

input {
  height: 2em;
}
select {
  height: 2em;
}
label {
  display: flex;
  flex-direction: column;
}
form button {
  height: 4em;
  width: 6em;
  border: none;
  background-color: rgb(152, 152, 255);
}
